.float_box {
    float: left;
    background-color: aquamarine;
    width: 200px;
    height: 100px;
    margin: 15px;
}
p {
    margin: 0;
}

.clear_property_box
{
    clear: left;
    background-color:bisque;
}